# Ejercicio 1: Transformar cadenas

In [39]:
text = """Interesting facts about the Moon. The Moon is Earth's only satellite. There are several interesting facts about the Moon and how it affects life here on Earth. On average, the Moon moves 4cm away from the Earth every year. This yearly drift is not significant enough to cause immediate effects on Earth. The highest daylight temperature of the Moon is 127 C."""
partesTexto = text.split('. ')
partesTexto

palabrasClave = ["average", "temperature", "distance"]

for oracion in partesTexto:
    for palabrasClave in palabrasClave:
        if palabrasClave in oracion:
            print(oracion)
            break

print('\n')

for oracion in partesTexto:
    for palabrasClave in palabrasClave:
        if palabrasClave in oracion:
            print(oracion.replace(' C', ' Celsius'))
            break

The Moon is Earth's only satellite
There are several interesting facts about the Moon and how it affects life here on Earth
This yearly drift is not significant enough to cause immediate effects on Earth
The highest daylight temperature of the Moon is 127 C.


Interesting facts about the Moon
The Moon is Earth's only satellite
There are several interesting facts about the Moon and how it affects life here on Earth
This yearly drift is not significant enough to cause immediate effects on Earth
The highest daylight temperature of the Moon is 127 Celsius.

# Ejercicio 2: Formateando cadenas

In [67]:
name = "Moon"
gravity = 0.00162 # En km/s
planet = "Earth"

title = f'datos de gravedad sobre {name}'
hechos = f"""{'-'*80}
Nombre del planeta: {planet}
Gravedad en {name}: {gravity * 1000} m/s2
"""
template = f"""{title.title()}
{hechos}
"""
print(template)

planet = 'Marte '
gravity  = 0.00143
name = 'Ganímedes'

new_template = """
Datos De Gravedad Sobre: {name}
-------------------------------------------------------------------------------
Nombre del planeta: {planet}
Gravedad en {name}: {gravity} m/s2
"""
print(new_template.format(name = name, planet= planet, gravity = gravity * 1000))

Datos De Gravedad Sobre Moon
--------------------------------------------------------------------------------
Nombre del planeta: Earth
Gravedad en Moon: 1.6199999999999999 m/s2



Datos De Gravedad Sobre: Ganímedes
-------------------------------------------------------------------------------
Nombre del planeta: Marte
Gravedad en Ganímedes: 1.4300000000000002 m/s2

# Cadenas
Ejemplos de como escribir cadenas, comillas simples, dobles y triples.

In [1]:
ola = 'Hola como tas?'
queOnda = "Have you been in Moon's Restaurant?" #Comillas simples adentro por eso debe usarse comilla doble afuera
portal = """Take care with the "portal" behind you, it will send you to Mitsuri's Home""" #Comillas triples al incluir las comillas dobles dentro del texto
print(ola)
print(queOnda)
print(portal)

Hola como tas?
Have you been in Moon's Restaurant?
Take care with the "portal" behind you, it will send you to Mitsuri's Home

# Texto multilínia
Utiliza un carácter de nueva línea ().\n
Utiliza comillas triples (""")..
Los caracteres de nueva línea separan el texto en varias líneas al imprimir la salida:

In [2]:
multiline = "Facts about the Moon:\n There is no atmosphere.\n There is no sound."
print(multiline)

Facts about the Moon:
 There is no atmosphere.
 There is no sound.

In [4]:
multiline = """Facts about the Moon:
...  There is no atmosphere.
...  There is no sound."""
print(multiline)

Facts about the Moon:
 There is no atmosphere.
 There is no sound.

# Métodos string en Python

In [5]:
'temperatures and facts about the moon'.title()

'Temperatures And Facts About The Moon'

In [6]:
heading = 'temperatures and facts about the moon'
heading.title()

'Temperatures And Facts About The Moon'

# Dividir una cadena

In [9]:
temperatures = '''Daylight: 260 F
... Nighttime: -280 F'''
temperatures.split()

['Daylight:', '260', 'F', 'Nighttime:', '-280', 'F']

# Buscar una cadena

In [18]:
temperatures = """Saturn has a daytime temperature of -170 degrees Celsius,
... while Mars has -28 Celsius."""
temperatures.find('Moon')#Método find sirve para encontrar en que lugar de la cadena inicia una palabra en este caso no hay, la salida es -1.
temperatures.find('Mars')
temperatures.count('Mars')#Método count sirve para buscar cuantas veces sale una palabra en el texto en este caso 1.
temperatures.count('Moon')

0

# Covertir cadena a minúsculas o mayúsculas

In [19]:
ejemploMinus = "OlA cOmO TaN".lower()
ejemploMayus = "Ola coMo Tan".upper()

print(ejemploMinus)
print(ejemploMayus)

ola como tan
OLA COMO TAN

# Comprobar el contenido

In [29]:
temperatures = 'Mars Average Temperature: -60 C'
parts = temperatures.split(':')
print(parts[-1])

mars_temperature = 'The highest temperature on Mars is about 30 C'
for item in mars_temperature.split():
    if item.isnumeric(): # El método isnumeric no funcionará con valores negativos.
        print(item)

 -60 C
30